
@model UpdateSlideVM

<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update slide</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <img src="~/assets/images/website-images/@Model.Image">
                        <input asp-for="Image" class="form-control" type="hidden">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Image</label>
                        <input asp-for="Photo" class="form-control" type="file" placeholder="Photo" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="SubTitle" class="form-label">SubTitle</label>
                        <input asp-for="SubTitle" class="form-control" placeholder="SubTitle">
                        <span asp-validation-for="SubTitle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label for="Order" class="form-label">Order</label>
                        <input asp-for="Order" type="number" class="form-control" placeholder="Order">
                        <span asp-validation-for="Order" class="text-danger"></span>
                    </div>



                    <button type="submit" class="btn btn-primary me-2">Update</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</div>