@model string
<div >
	<img  src="https://preview.redd.it/for-you-what-could-be-the-doctor-equivalent-of-the-serious-v0-yvmft88b7ysc1.jpg?width=640&format=pjpg&auto=webp&s=71799ff855b213f6363249df643fa30fbb1d500d" />
	<h1>@Model</h1>
</div>
